<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Flappy Bird</title>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body class="main"">
    <ul class="menu">
        <li><a href="/play">Play</a></li>
        <!-- <li><a id="difficulty">Difficulty</a></li> -->
        <li><a href="/highscores">High Scores</a></li>
        <li>About</li>
    </ul>

    <!-- <div class="difficulty">
        <ul class="difficultySelection">
            <li data-difficulty="EASY"><span class="material-icons">play_arrow</span>Easy</li>
            <li data-difficulty="NORMAL" class="active"><span class="material-icons">play_arrow</span>Normal</li>
            <li data-difficulty="HARD"><span class="material-icons">play_arrow</span>Hard</li>
        </ul>
    </div> -->
    


    <script src="/public/scripts/p5.js"></script>
    <script src="/public/scripts/index.js"></script>
    <script src="/public/scripts/bird.js"></script>
    <script src="/public/scripts/pipe.js"></script>
    <script src="/public/scripts/scores.js"></script>
    <script src="/public/scripts/difficulty.js"></script>
</body>
</html>