<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flappy Bird Flying</title>


    <link rel="stylesheet" href="/public/css/style.css">
    
    <script type="text/javascript" src="/public/scripts/p5.js" type="text/html"></script>
    <script type="text/javascript" src="/public/scripts/sketch.js"></script>
    <script type="text/javascript" src="/public/scripts/bird.js"></script>
    <script type="text/javascript" src="/public/scripts/pipe.js"></script>

</head>

<body>
    <div class="scores"></div>
</body>

</html>